<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring MVC view layer: Thymeleaf </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>

<body>

<h2>This is a Thymeleaf template</h2>

<h1 th:text="${nameAttr}"></h1>
<span th:text="${nameAttr}"></span>


<ul th:each="currentString : ${myCollection}">
    <li th:text="${currentString}">

    </li>
</ul>


</body>

</html>